.icon {
   position: relative;
   left: 2vw;
   top: 2vw;

   border: none;
   background: transparent;
}

.icon img {
   width: 8vw;
   height: auto;
}

.icon:hover,
.icon:focus-visible {
   transform: scale(1.2);
}

.filter {
   position: fixed;
   transform: translateX(-100%);
   transition: transform 0.5s ease-out;

   background-color: #ffffff;

   width: 100%;
   height: 100%;
}

.active {
   transform: translateX(0);
}

.form {
   padding: 5vw;
}

.form legend {
   font-size: clamp(1.3rem, 5vw, 1.8rem);
   font-weight: bold;
   text-decoration: underline;
   text-underline-offset: 1px;
}

.form-options {
   list-style-type: none;
   margin-top: 1vh;

   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 1vh;

   font-size: clamp(1rem, 4vw, 1.4rem);
}

.form-options li div {
   display: flex;
   gap: 1vw;
}

.btn {
   font-size: clamp(1rem, 3vw, 1.3rem);
   color: var(--white);
   background-color: var(--light-blue);
   padding: 0.8vw 1.3vw;
   border-color: var(--dark-blue);
   border-style: solid;
   border-radius: 2vw;

   transition: transform 0.1s ease;
}

.btn:hover,
.btn:focus-visible {
   background-color: var(--dark-blue);
   transform: scale(1.1);
   outline: none;
}

@media (min-width: 600px) {
   .icon img {
      width: 5vw;
   }
}

@media (min-width: 1000px) {
   .icon {
      display: none;
   }

   .filter {
      position: relative;
      width: 20vw;
      min-height: calc(100vh - var(--nav-height));
      transition: none;
   }

   .form {
      padding: 1vw;
   }

   .btn {
      padding: 0.5vw 0.8vw;
   }
}

@media (min-width: 1500px) {
   .filter {
      width: 15vw;
   }

   .btn {
      padding: 0.5vw;
   }
}
