.link {
   display: flex;
   justify-self: center;

   text-decoration: none;
   padding: 2vw 1.5vw;
   color: var(--white);
   font-size: clamp(1rem, 4.5vw, 1.6rem);
   background-color: var(--blue);
   border-radius: 1vw;

   transition: background-color 0.1s ease-in;
}

.link:hover,
.link:focus-visible {
   background-color: var(--dark-blue);
}
