.link {
   display: flex;
   justify-self: center;

   text-decoration: none;
   padding: 2vw 1.5vw;
   color: var(--white);
   font-size: clamp(1rem, 4vw, 1.3rem);
   background-color: var(--blue);
   border-radius: 1vw;

   transition: background-color 0.1s ease-in;
}

.link:hover,
.link:focus-visible {
   background-color: var(--dark-blue);
}

@media (min-width: 1400px) {
   .link {
      padding: 1vw 0.5vw;
   }
}
