.shop {
   display: flex;
}

.shop section {
   width: 100%;
}

.shop-products {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
   justify-content: center;
   gap: 2vh;
   margin-top: 2vh;
   padding-bottom: 2vh;
}

.shop-product {
   display: flex;
   align-items: center;
   justify-content: center;
}

@media (min-width: 1000px) {
   .shop-products {
      width: 80vw;
   }
}
