* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --dark-blue: #1b263b;
   --blue: #415a77;
   --light-blue: #778da9;
   --white: #ededeb;
   --black: #232032;
}

#root {
   min-height: 100vh;
   max-width: 100vw;

   background-color: var(--white);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
